build/*
nsight/*
vcpkg_installed/*

# We'll include the .vscode launch configurations.
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

cmake-build-debug/*
cmake-build-release/*

nv-aftermath/*
